* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 50px;
    background-color: black;
    width: 100%;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    font-size: large;
    font-style: normal;
    position: fixed;
}

#content {
    background-color: rgb(59, 55, 55);
}

#right {
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#search {
    height: 30px;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search input {
    color: white;
    outline: none;
    height: 28px;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: black;
}

#search button {
    background-color: red;
    align-items: center;
    color: white;
    border: none;
    padding: 0 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    height: 28px;
}

#center ul {
    list-style: none;
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
    height: 100vh;
}

#center ul li {
    margin: 0 30px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 55, 55);
}
#banner{
    width: 100%;
    background-color: rgb(59, 55, 55);
    display: flex;
    justify-content: center;
}
#banner img{
    margin-top: 80px;
    width: 60%;
    height: 100%;
    border-radius: 10px;
}
.slide {
    width: 80%;
    background-color: black;
    margin-top: 30px;
}
